.searchBox {
  position: absolute;
  width: 100%;
  left: 50%;
  bottom: 0;
  transform: translate(-50%,50%);
  height: 80px;
  max-width: 960px;
  .item {
      width: 100%;
      > div {
          width: 100% !important;
      }
  }
  .content {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    height: 100%;
    padding: 0 30px;
    button{
        background-color: red;
        border: none;
        margin-left: 20px;
        padding: 12px 30px;
        border-radius: 5px;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        transition: all .3s linear;
        &:hover{
            background-color: rgb(175, 46, 26);
        }
    }
  }
}
