.card {
  .content {
    .top {
      position: relative;
      height: 314px;
      width: 100%;
      border-radius: 4px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      .trailer {
        position: absolute;
        top: 0;
        height: 314px;
        width: 100%;
        background: linear-gradient(to top, #000, transparent 100%);
        border-radius: 4px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s linear;
        button {
          border: 2px solid #fff;
          border-radius: 50%;
          padding: 16px;
          background-color: transparent;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          cursor: pointer;
          transition: all 0.3s linear;
          svg {
            color: #fff;
            font-size: 30px;
          }
          &:hover {
            border-color: #dfdede;
            svg {
              color: #dfdede;
            }
          }
        }
      }
    }
    .bot {
      position: relative;
      .detail {
        margin-top: 10px;
        transition: all 0.3s linear;
        opacity: 1;
        visibility: visible;
        .title {
          color: #000;
          height: 50px;
          font-size: 18px;
          font-weight: 500;
          line-height: 26px;
          margin-bottom: 16px;

          span {
            background-color: #fb4226;
            color: #fff;
            display: inline-block;
            padding: 0 8px 0 5px;
            font-size: 16px;
            text-align: center;
            margin-right: 8px;
            border-radius: 4px;
          }
        }
        .desc {
          color: #757575;
          margin-bottom: 16px;
          height: 60px;
        }
      }
      .book {
        a {
          color: #fff;
          background-color: #fb4226;
          display: block;
          width: 100%;
          text-align: center;
          font-size: 18px;
          font-weight: 500;
          border-radius: 4px;
          padding: 16px 8px;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s linear;
        }
      }
    }
  }
  &:hover {
    .content {
      .top {
        .trailer {
          opacity: 1;
          visibility: visible;
        }
      }
      .bot {
        .detail {
          opacity: 0;
          visibility: hidden;
        }
        .book {
          a {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
}
